<!-- As a link -->
<nav class="navbar navb">
    <div class="container" style="display:inline-block; margin-left:0.5%;">
        <a class="navbar-brand" href="#">
                <img  class="icon"  src="../../../assets/Images/appIcon.jpg" alt=""> 

              </a>
        <a class="navbar-brand" href="#"><h3 style="color:white;">Ferias Agronómicas</h3></a>
    </div>
  </nav>

<div class="container-fluid background"> 
    <div class="container form">
            <form style="border:4px;border-color:black;">
                <br>
                <h3> Registro de Empresa </h3>
                <br>
                
                <div class="form-group">
                  <label for="name">Nombre de la entidad:</label>
                  <input type="text" class="form-control" id="name" placeholder="Nombre de tu empresa">
                </div>
                <div class="form-group">
                  <label for="des">Descripción:</label>
                  <input type="text" class="form-control" id="des">
                </div>
                <div class="form-group">
                    <label for="res">Nombre del responsable de la empresa:</label>
                    <input type="text" class="form-control" id="res">
                  </div>
  
                <div class="form-group">
                      <label for="ced">Cédula del responsable:</label>
                      <input placeholder="Ejemplo: 2-4500-0089" type="text" class="form-control" id="ced">
                </div>
  
                <div class="form-group">
                    <label for="email">Correo de la empresa o del responsable:</label>
                    <input type="email" class="form-control" id="email">
                  </div>
  
                  <div class="form-group">
                      <label for="cel">Número de teléfono de la empresa o del responsable:</label>
                      <input placeholder="Ejemplo: 2444-5655" type="text" class="form-control" id="cel">
                    </div>
  
                  <div class="form-group">
                        <label for="passw">Contraseña:</label>
                        <input type="password" class="form-control" id="passw">
                  </div>
  
                  <div class="form-group">
                      <label for="pass">Confirmar contraseña :</label>
                      <input type="password" class="form-control" id="pass">
                  </div>

                <div class="form-group">
                    <label for="loc">Ubicación de la empresa:</label>
                    <agm-map class="map"  [latitude]="enterpriseLocation[0]" id="loc" 
                        [longitude]="enterpriseLocation[1]" (mapClick)="changeLocation($event,true)">
                        <agm-marker [latitude]="enterpriseLocation[0]"
                         [longitude]="enterpriseLocation[1]">
                        </agm-marker>
                      </agm-map>
                </div>
  
                <div class="form-group">
                    <label for="delP">Punto de entrega de productos:</label>
                    <agm-map class="map"  [latitude]="enterpriseDeliveryPointLocation[0]" id="delP" 
                    [longitude]="enterpriseDeliveryPointLocation[1]" (mapClick)="changeLocation($event,false)">
                        <agm-marker [latitude]="enterpriseDeliveryPointLocation[0]" [longitude]="enterpriseDeliveryPointLocation[1]">
                        </agm-marker>
                      </agm-map>
                </div>
                <br>
                <div class="form-group">
                    <label for="imag">Imágen o ícono de la empresa: </label>
                    <input type="file" (change)="fileChangeEvent($event)" name="image">
                    
                </div>
  
                <div class="form-group">
                    <label><input type="checkbox" class="fomr-control" [(ngModel)]="provideExpress" name="express">
                      Ofrece servicio express </label>
                    
                </div>

                   <!-- ng*If , only display if the enterprise offers express service  -->
  
                <div *ngIf="provideExpress === true" class="form-group">
                    <label for="price">Cobro por kilómetro: </label>
                    <input type="number" class="form-control" id="price" [(ngModel)]="pricePerKM" 
                    [ngModelOptions]="{standalone: true}" placeholder="Precio en colones">
                    
                </div>
  
                <div class="form-group">
                    <button class="btn btn-primary"  (click)="initRegistration()"> Registrar </button>                  
                </div>

                <div *ngIf="registeringEnterprise===true" class="form-group">
                    <span> Registrando la empresa ... </span>               
                </div>
  
             
  
              </form>
  
    </div>
  
  
  </div>
  