

<div class="outletDiv" >
    <router-outlet>
  
    </router-outlet>
  </div>
  

<!--


<h1>{{ title }}</h1>

<!- this creates a google map on the page with the given lat/lng from ->
<!- the component as the initial center of the map: ->
<agm-map [latitude]="lat" [longitude]="lng" (mapClick)="changeLocation($event)">
  <agm-marker [latitude]="lat" [longitude]="lng">
  </agm-marker>
</agm-map>

<label>This rule is true if:</label>
<label class="form-check-inline">
    <h1> Sí </h1>
    <input class="form-check-input" type="radio" name="mode" [value]="true">
</label>
<label class="form-check-inline">
    <h1> No </h1>
    <input class="form-check-input" type="radio" name="mode" [value]="false">
</label>

-->