.loginDiv{
    width: 45%;
    height: 45%;
    margin-top: 4%;
    color: black;
    background-color: gainsboro;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form{
  border-color: black;
  border: 4px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


  .enterpriseLink{
    cursor: pointer;
  }

